# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
.ipynb_checkpoints/

# Env & secrets
.env
.env.*

# Logs
*.log

# Data
data/
*.csv
*.parquet

# Spark
spark-warehouse/
.metastore_db/

# Airflow
config/
logs/
plugins/
airflow.db
dag_processor/
